<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>340707090696-6l0pvmnv3ugdj1s1das78fg17bk8rae2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.340707090696-6l0pvmnv3ugdj1s1das78fg17bk8rae2</string>
	<key>API_KEY</key>
	<string>AIzaSyAjgTYWBuX6z40CCG5-wEHmapic8OilS6I</string>
	<key>GCM_SENDER_ID</key>
	<string>340707090696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.owner.big.market</string>
	<key>PROJECT_ID</key>
	<string>ownerbigmarket</string>
	<key>STORAGE_BUCKET</key>
	<string>ownerbigmarket.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:340707090696:ios:3feb192da479fe91a38cbd</string>
</dict>
</plist>